<h1><%= @kitten.name %></h1>

<%= flash[:success] if flash[:success]%>

<div>
    <p>Age: <%= @kitten.age %></p>
</div>

<div>
    <p>Cuteness: <%= @kitten.cuteness %></p>
</div>

<div>
    <p>Softness: <%= @kitten.softness %></p>
</div>

<%= link_to 'Edit Kitten', edit_kitten_path %>
<%= link_to 'Delete Kitten', @kitten, data: { turbo_method: :delete, turbo_confirm: 'Are your sure?' }%>